h1{
    width: 100vw;
    background-color: var(--orange);
    text-align: center;
    color: var(--red2);
    font-size: 2.5rem;
    font-family: 'superFont', sans-serif;
    text-shadow: var(--blue) 1px 0 10px;
}